<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Adressbuch</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!--<div class="max-w-md py-4 px-4 bg-white shadow-lg rounded-lg my-3">
    <div>
      <h2 class="text-gray-800 text-2xl font-semibold">Daniel's Macbook Pro</h2>
      <p class="mt-2 text-sm text-gray-600">551 132 123</p>
    </div>
    <div class="flex justify-end mt-1">
      <button class="text-xl font-medium text-green-500">Verbinden</button>
    </div>
  </div>-->
</ion-content>
