<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Dashboard </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="loadScripts()"
        ><ion-icon name="refresh"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content">
    <!-- animation -->
    <section
      class="p-10 min-h-screen flex md:flex-row items-center justify-around bg-red-500 flex-wrap sm:flex-col"
    >
      <!-- scale -->
      <div class="h-32 w-32 relative cursor-pointer mb-5">
        <div
          class="absolute inset-0 bg-white opacity-25 rounded-lg shadow-2xl"
        ></div>
        <div
          class="absolute inset-0 transform hover:scale-75 transition duration-300"
        >
          <div class="h-full w-full bg-white rounded-lg shadow-2xl"></div>
        </div>
      </div>

      <!-- roatate and scale -->
      <div class="h-32 w-32 relative cursor-pointer mb-5">
        <div
          class="absolute inset-0 bg-white opacity-25 rounded-lg shadow-2xl"
        ></div>
        <div
          class="absolute inset-0 transform hover:rotate-90 hover:scale-75 transition duration-300"
        >
          <div class="h-full w-full bg-white rounded-lg shadow-2xl"></div>
        </div>
      </div>

      <!-- rotate -->
      <div class="h-32 w-32 relative cursor-pointer mb-5">
        <div
          class="absolute inset-0 bg-white opacity-25 rounded-lg shadow-2xl"
        ></div>
        <div
          class="absolute inset-0 transform hover:rotate-45 transition duration-300"
        >
          <div class="h-full w-full bg-white rounded-lg shadow-2xl"></div>
        </div>
      </div>

      <!-- rotate minus -->
      <div class="h-32 w-32 relative cursor-pointer mb-5">
        <div
          class="absolute inset-0 bg-white opacity-25 rounded-lg shadow-2xl"
        ></div>
        <div
          class="absolute inset-0 transform hover:-rotate-45 transition duration-300"
        >
          <div class="h-full w-full bg-white rounded-lg shadow-2xl"></div>
        </div>
      </div>

      <!-- Origin -->
      <div class="h-32 w-32 relative cursor-pointer mb-5">
        <div
          class="absolute inset-0 bg-white opacity-25 rounded-lg shadow-2xl"
        ></div>
        <div
          class="absolute inset-0 transform origin-left hover:-rotate-45 transition duration-300"
        >
          <div class="h-full w-full bg-white rounded-lg shadow-2xl"></div>
        </div>
      </div>

      <!-- translate -->
      <div class="h-32 w-32 relative cursor-pointer mb-5">
        <div
          class="absolute inset-0 bg-white opacity-25 rounded-lg shadow-2xl"
        ></div>
        <div
          class="absolute inset-0 transform hover:-translate-x-10 transition duration-300"
        >
          <div class="h-full w-full bg-white rounded-lg shadow-2xl"></div>
        </div>
      </div>

      <div class="h-32 w-32 relative cursor-pointer mb-5">
        <div
          class="absolute inset-0 bg-white opacity-25 rounded-lg shadow-2xl"
        ></div>

        <div
          class="absolute inset-0 transform hover:rotate-90 hover:translate-x-full hover:scale-150 transition duration-300"
        >
          <div class="h-full w-full bg-white rounded-lg shadow-2xl"></div>
        </div>
      </div>

      <!-- skew -->
      <div class="h-32 w-32 relative cursor-pointer mb-5">
        <div
          class="absolute inset-0 bg-white opacity-25 rounded-lg shadow-2xl"
        ></div>
        <div
          class="absolute inset-0 transform hover:skew-y-12 transition duration-300"
        >
          <div class="h-full w-full bg-white rounded-lg shadow-2xl"></div>
        </div>
      </div>
    </section>
    <!--<ion-button (click)="runScript()" [disabled]="loading">
      <ion-spinner *ngIf="loading"></ion-spinner>Test</ion-button
    >
    <ion-button (click)="runScriptTest()" [disabled]="loading">
      <ion-spinner *ngIf="loading"></ion-spinner
      >ClearRecentlyAccessdFilesScript</ion-button
    >-->

    <ion-button
      expand="block"
      *ngFor="let script of scripts"
      (click)="runRemoteScript(script)"
      [disabled]="script.loading"
    >
      <ion-spinner *ngIf="script.loading"></ion-spinner>
      {{ script.name_de }}
    </ion-button>
  </div>
</ion-content>
