:host {
  height: 100%;

  ion-content {
    //--background: url(https://images.pexels.com/photos/772803/pexels-photo-772803.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center fixed;
    background-size: cover;
  }
}
ion-button {
  white-space: pre-wrap;
  height: fit-content;
  --padding-top: 10px;
  --padding-bottom: 10px;
}
