<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Einstellungen </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div
    class="box flex flex-col shadow-xl rounded-xl mt-3 overflow-hidden mb-5 bg-white p-3"
  >
    <mat-form-field>
      <mat-label>Anzeigename</mat-label>
      <input [(ngModel)]="compName" matInput />
    </mat-form-field>

    <ion-item lines="none">
      <ion-checkbox
        [(ngModel)]="settings.randomId"
        (ngModelChange)="randomIdChange()"
        slot="start"
      ></ion-checkbox>
      <ion-label>Zufällige ID</ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-checkbox
        [(ngModel)]="autoStartEnabled"
        (ngModelChange)="changeAutoStart()"
        slot="start"
      ></ion-checkbox>
      <ion-label>Autostart</ion-label>
    </ion-item>
  </div>

  <div
    class="box flex flex-col shadow-xl rounded-xl mt-3 overflow-hidden mb-5 bg-white p-3"
  >
    <ion-item lines="none">
      <ion-checkbox
        [(ngModel)]="settings.hiddenAccess"
        (ngModelChange)="changeHiddenAccess()"
        slot="start"
      ></ion-checkbox>
      <ion-label>Unbeaufsichtigen Zugriff</ion-label>
    </ion-item>

    <div class="mt-2" *ngIf="settings.hiddenAccess">
      <button color="accent" mat-flat-button (click)="addPw()">
        Passwort hinzufügen
      </button>
    </div>
  </div>
</ion-content>
