@import '../theme/variables';

.version {
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  color: var(--ion-color-primary);
  font-weight: bold;
  small {
    opacity: 0.6;
  }
}

.split-pane-side {
  --border: none;
}

.action-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  height: 30px;
  width: 100%;
  background: var(--ion-color-primary);
  -ms-overflow-style: scrollbar;
  -webkit-app-region: drag;

  .app-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-app-region: no-drag;

    button {
      &.close {
        &:hover {
          background: #f04747;
        }

        &:active {
          background: rgba(255, 0, 0, 0.5);
        }
      }

      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      color: #fff;
      padding: 0 8px;
      height: 20px;
      border-radius: 3px;
      transition: all 150ms ease-in-out;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }

      &:active {
        background: rgba(0, 0, 0, 0.3);
      }

      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}

.split-pane {
  top: 30px; // for header
}

ion-menu.main-menu {
  ion-content {
    --background: #252a33;

    ion-icon {
      color: #687384;
    }
  }

  ion-footer {
    ion-list {
      ion-item {
        --padding-top: 5px;
        --padding-bottom: 5px;
      }
    }
  }

  ion-list {
    margin-bottom: 0;
    background: transparent;

    ion-item {
      cursor: pointer;
      --padding-top: 10px;
      --padding-bottom: 10px;
      --background: transparent;
      position: relative;
      --inner-border-width: 0px 0px 0 0px;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
        color: #687384;

        ion-icon,
        ion-label {
          color: #687384;
        }
      }

      &.active {
        position: relative;

        ion-label {
          h2 {
            font-weight: 600;
          }
        }

        color: #398bf7;
        font-weight: 600;

        p {
          font-weight: 400;
        }

        &:after {
          position: absolute;
          left: 0;
          content: '';
          width: 2px;
          background: #398bf7;
          height: 30px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &.activated {
        background: rgba(0, 0, 0, 0.2);
      }

      ion-label {
        margin: 14px 8px 10px 11px;

        h2 {
          font-weight: 600;
        }

        p {
          color: #656e82;
        }
      }

      color: #687384;
    }
  }
}
