<div class="action-bar">
  <div class="app-actions">
    <button (click)="electronService.minimize()">
      <ion-icon name="remove-outline"></ion-icon>
    </button>

    <button (click)="electronService.maximize()">
      <ion-icon name="expand-outline"></ion-icon>
    </button>

    <button class="close" (click)="electronService.close()">
      <ion-icon name="close-outline"></ion-icon>
    </button>
  </div>
</div>
<ion-app class="main-area">
  <ion-split-pane contentId="main-content">
    <ion-menu class="main-menu" contentId="main-content">
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item
              [routerDirection]="'root'"
              [routerLink]="[p.url]"
              *ngIf="!p.footer"
              [routerLinkActive]="['active']"
            >
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <div class="version">
          Version<br /><small>{{ version }}</small>
        </div>
        <!--<ion-list *ngIf="appPages">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" *ngIf="p.footer"
              [routerLinkActive]="['active']">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>-->
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
