@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import './theme/variables.scss';

@import '~ngx-toastr/toastr';

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

ion-content {
  --background: #f2eff6;
}

ion-button {
  --border-radius: 10px !important;
  text-transform: initial;
}

ion-card {
  --ion-item-background: #fff;
}

.main-area {
  top: 30px;
  max-height: calc(100% - 30px);
}

ion-item:last-child {
  --inner-border-width: 0px 0px 0 0px;
}

ion-item:last-of-type {
  --inner-border-width: 0px 0px 0 0px;
}
