<div *ngIf="fileDrop" class="file-drop">
  <ion-icon name="document-outline"></ion-icon>
</div>
<input
  class="hidden"
  #fileInput
  type="file"
  (change)="fileChangeEvent($event.target.files)"
/>
<div class="connecting" *ngIf="!connected">
  <ng-lottie [options]="options"></ng-lottie>
</div>
<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="flex items-center justify-center" *ngIf="!connected"
      ><ion-spinner class="mr-3"></ion-spinner>Warten auf Bestätigung ...
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="fileInput.click()" [matTooltip]="'Datei senden'">
        <ion-icon name="document-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="close()" [matTooltip]="'Verbindung schließen'">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content no-bounce has-bouncing="false" forceOverscroll="false">
  <div class="progress" *ngIf="fileProgress != 0 && fileProgress != 100">
    <div class="inner-progress" [style.width.%]="fileProgress"></div>
  </div>
  <div
    *ngIf="fileLoading"
    class="fileLoading"
    [matTooltip]="'Datei wird gesendet ...'"
  >
    <ion-spinner [color]="'light'"></ion-spinner>
  </div>

  <video autoplay id="video"></video>
</ion-content>
